@font-face {
    font-family: "LocalizationPixel";
    src: url("../../data/others/LocalizationPixel.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JF-Dot-ShinonomeMin14";
    src: url("../../data/others/JF-Dot-ShinonomeMin14.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
